* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

@import 'index';

@import 'tablet';

@import 'mobile';